@model HRMSModels.LeaveRequestModel

@{
    ViewBag.Title = "LeaveForm";
}

<div style="display:flex">
    <div class="form-card">

        <header class="form-card-header">
            Leave Request
        </header>


        @using (Html.BeginForm())
        {
            <div class="form-card-body">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                @Html.Partial("_LeaveFormPartial", Model)

            </div>
            <div class="form-card-footer">
                <input type="SUBMIT" value="Create" class="btn btn-success" />
                @Html.ActionLink("Cancel", "Leaves", null, new { @class = "btn btn-danger" })
            </div>
        }
    </div>
    <div style=" width: 50%; display: flex; flex-direction: column;">
        <div id="leaveBalanceContainer">

        </div>
        @Html.Action("UpcomingHolidays", "Leave", new { count = 3 })
        @Html.Action("PastLeavesPartial", "Leave", new { count = 3 })
    </div>
</div>
<script>
    $("#StartDate, #EndDate, #SecondHalf, #FirstHalf").change(function () {
        $.get('/Leave/CalculateLeaveDays', {
            fromDate: $("#StartDate").val(),
            toDate: $("#EndDate").val(),
            fromSecondHalf: $("#SecondHalf").is(":checked"),
            uptoFirstHalf: $("#FirstHalf").is(":checked")
        }, function (data) {
            $("#TotalDays").val(data.leaveDays);
        });
    });
    function loadLeaveBalance() {
        $.get('/Leave/LeaveBalanceLabelCard', { empID: $("#EMP_ID").val() }, function (data) {
            $("#leaveBalanceContainer").html(data);
        });
    }

    $(document).ready(function () {
        loadLeaveBalance();

        $("#EMP_ID").change(function () {
            loadLeaveBalance();
        });
    });
</script>