@model IEnumerable<HRMS_Project.Models.LeaveBalanceModel>

<table class="normal-card">
    <tr class="normal-card-header">
        <th>
            @Html.DisplayNameFor(model => model.LeaveName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeaveLimit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeaveTaken)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeaveBalance)
        </th>
    </tr>
    <div class="normal-card-body">
        @foreach (var item in Model)
        {
        <tr class="pd-cell-10">
            <td>
                @Html.DisplayFor(model => item.LeaveName)
            </td>
            <td>
                <span style="color:darkblue">
                    @Html.DisplayFor(model => item.LeaveLimit)
                </span>
            </td>
            <td style="color:orangered">
                @Html.DisplayFor(model => item.LeaveTaken)
            </td>
            <td>
                @if (item.LeaveBalance <= 0)
                {
                    <span class="text-danger">
                        @Html.DisplayFor(model => item.LeaveBalance)
                    </span>
                }
                else
                {
                    <span class="text-success">
                        @Html.DisplayFor(model => item.LeaveBalance)
                    </span>
                }
            </td>
        </tr>
    }
        </div>
    </table>
