@model IEnumerable<HRMSModels.LeaveRequestModel>

@{
    ViewBag.Title = "Leaves";
}

<h2>Leaves</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RequestID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMP_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeaveTypeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalDays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeaveStatusID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApproverID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApproverDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RequestID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EMP_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LeaveTypeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalDays)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reason)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LeaveStatusID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApproverID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApproverDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
