@model List<student_model.Models.student>

<!DOCTYPE html>
<html>
<head>
    <title>Login - Student Management System</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #ccc;
            padding: 12px;
            text-align: left;
        }

        th {
            background-color: #f4f4f4;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }
    </style>
</head>
<body>
    <h2>Student Information</h2>

    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Created_by</th>
                <th>Modified_by</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model)
            {
                if (student.Role ==2)
                {
                <tr>
                    <td>@student.name</td>
                    <td>@student.email</td>
                    <td>@student.phone</td>
                    <td>@student.address</td>
                    <td>@student.created_by</td>
                    <td>@student.modified_by</td>
                </tr>
                    }
                }
        </tbody>
    </table>

</body>
</html>


