@model HRMSModels.AttendanceModel

@using (Html.BeginForm("Edit", "Attendance", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Emp_ID)
  

    <div class="row">
        <div class="form-group triple-column">
            <div class="column">
                @Html.LabelFor(m => m.FirstName)
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="form-group triple-column">
            <div class="column">
                @Html.LabelFor(m => m.MiddleName)
                @Html.TextBoxFor(m => m.MiddleName, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="form-group triple-column">
            <div class="column">
                @Html.LabelFor(m => m.LastName)
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
    </div>


    <div class="row">
        <div class="form-group triple-column">
            <div class="column">
                @Html.Label("Mode")
                @Html.TextBox("Mode", Model.ModeID == 1 ? "WFH" : "WFO", new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="form-group triple-column">
            <div class="column">
                @Html.LabelFor(m => m.AttendanceDate)
                @Html.TextBoxFor(m => m.AttendanceDate, "{0:yyyy-MM-dd}",
                    new { @class = "form-control", @readonly = "readonly", @type = "date" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group triple-column">
            <div class="column">
                @Html.Label("First Half")
                @Html.TextBox("FirstHalf", Model.FirstHalfStatus, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="form-group triple-column">
            <div class="column">
                @Html.Label("Second Half")
                @Html.TextBox("SecondHalf", Model.SecondHalfStatus, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group triple-column">
            <div class="column">
                @Html.LabelFor(m => m.LoginTime)
                @Html.TextBoxFor(m => m.LoginTime, "{0:HH\\:mm}", new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="form-group triple-column">
            <div class="column">
                @Html.LabelFor(m => m.LogoutTime)
                @Html.TextBoxFor(m => m.LogoutTime, "{0:HH\\:mm}", new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
    </div>


    <div class="row">
        <div class="form-group triple-column">
            <div class="column">
                @Html.LabelFor(model => model.Reason)
                @Html.TextAreaFor(model => model.Reason, new { @class = "form-control", rows = 3, @readonly = "readonly" })
            </div>
        </div>
    </div>


    <div class="row">
        <div class="form-group triple-column">
            <div class="column">
                @Html.Label("Manager Comment")
                @Html.TextAreaFor(model => model.Comment, new { @class = "form-control", rows = 3 })
            </div>
        </div>
    </div>


    <div class="row mt-3">
        <div class="form-card-footer d-flex justify-content-between">
            <button type="submit" name="action" value="Approve" class="btn btn-success">Approve</button>
            <button type="submit" name="action" value="Reject" class="btn btn-danger">Reject</button>
            @Html.ActionLink("Cancel", "AttendanceRequest", "Attendance", null, new { @class = "btn btn-secondary" })
        </div>
    </div>
}

