@model HRMSModels.ForgotPasswordModel
@{
    Layout = null;
    ViewBag.Title = "Reset Password";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Reset Password</title>
    <link href="~/Content/Login.css" rel="stylesheet" />
</head>
<body>
    <div class="login-box">
        <h2>Reset Password</h2>

        @if (TempData["Message"] != null)
        {
            <div style="color: green; padding: 10px; font-weight: bold; margin-bottom: 10px;">
                @TempData["Message"]
            </div>
        }

        @using (Html.BeginForm())
        {
            @Html.HiddenFor(m => m.Email)
            @Html.HiddenFor(m => m.Token)

            <div class="input-group">
                @Html.PasswordFor(m => m.NewPassword, new { @placeholder = "New Password" })
            
            </div>

            <div class="input-group">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @placeholder = "Confirm Password" })
              
            </div>
          
            <div class="warning">
                @if (TempData["Error"] != null)
                {

                    @TempData["Error"]

                }
                @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>
 
                <br />

                <input type="submit" value="Reset Password" class="btn-login" />
                }

                <div class="back-link">
                    @Html.ActionLink("Back to Login", "Index", "Login")
                </div>
            </div>
</body>
</html>
